{{#each persona}}
    <div class="row">
    <div class="col-md-6 mx-auto">
        <div class="containe">
            <form method="post">
                <div id="datos">
                    <h1>Mis datos</h1>
                    <div class="fila-arriba">
                        <div class="label">
                            Nombre: <span id="Nombre">{{nombre}}</span>
                        </div>
                        <div class="label">
                            Apellido: <span id="apellido">{{apellido}}</span>
                        </div>
                    </div>
                    <div class="label">
                        <br> Usuario: <span id="usuario">{{usuario}}</span>

                    </div>
                    <div class="label">
                        <br> Email: <span id="email">{{email}}</span>
                    </div>
                </div>
                <button class="borrar-perfil">Borrar perfil</button>
            </form>
        </div>
{{/each}}

{{#each vete2}}
        <div class="contenedor-formularios">
            <form method="post">
                <h3>Veterinario</h3>
                <div class="label">
                    Usuario: <span id="nombremas5">{{usuario}}</span>
                </div>
                <div class="label">
                    <br> Nombre: <span id="nombremas5">{{nombre}}</span>
                </div>

                <div class="label">
                    <br> Email: <span id="tipomas5">{{email}}</span>
                </div>

                <div class="label">

                    <br> Contacto: <span id="razamas5">{{celular}}</span>
                </div>
                <div class="label">
                    <br> Direccion: <span id="edadmas5">{{Direccion}}</span>
                </div>
                <button class="borrar-perfil">Borrar perfil</button>
            </form>
        </div>
{{/each}}

{{#each pasea2}}
        <div class="contenedor-formularios">
            <form method="post">
                <div class="row">
                    <h3>Paseador</h3>
                    <div class="label">
                        usuario: <span id="nombremas5">{{usuario}}</span>
                    </div>

                    <div class="label">
                        Nombre: <span id="nombremas5">{{nombre}}</span>
                    </div>
                    <div class="label">
                        <br> Email: <span id="tipomas5">{{email}}</span>
                    </div>

                    <div class="label">

                        <br> Contacto: <span id="razamas5">{{celular}}</span>
                    </div>
                    <div class="label">
                        <br> Zona: <span id="edadmas5">{{zona}}</span>
                    </div>
                </div>
                <button class="borrar-perfil">Borrar perfil</button>
            </form>
        </div>
{{/each}}

{{#each cui2}}
        <div class="contenedor-formularios">
            <form method="post">
                <h3>cuidador</h3>
                <div class="label">
                    Usuario: <span id="nombremas5">{{usuario}}</span>
                </div>
                <div class="label">
                    Nombre: <span id="nombremas5">{{nombre}}</span>
                </div>

                <div class="label">
                    <br> Email: <span id="tipomas5">{{email}}</span>
                </div>

                <div class="label">

                    <br> Contacto: <span id="razamas5">{{celular}}</span>
                </div>
                <div class="label">
                    <br> Direccion: <span id="edadmas5">{{Direccion}}</span>
                </div>
                <button class="borrar-perfil">Borrar perfil</button>
            </form>
        </div>
{{/each}}

{{#each cli2}}
        <div class="contenedor-formularios">
            <form method="post">
                <h3>Clinica</h3>
                iv class="label">
                Usuario: <span id="nombremas5">{{usuario}}</span>
        </div>
        <div class="label">
            Nombre: <span id="nombremas5">{{nombre}}</span>
        </div>

        <div class="label">
            <br> Email: <span id="tipomas5">{{email}}</span>
        </div>

        <div class="label">

            <br> Contacto: <span id="razamas5">{{contacto}}</span>
        </div>
        <div class="label">
            <br> Direccion: <span id="edadmas5">{{Direccion}}</span>
        </div>
        <div class="label">
            <br> Servicios: <span id="sexomas5">{{servicios}}</span>
        </div>
        <button class="borrar-perfil">Borrar perfil</button>
        </form>
    </div>
{{/each}}

{{#each este2}}
        <div class="contenedor-formularios">
            <form method="post">
                <h3>Estetica</h3>
                <div class="label">
                    Usuario: <span id="nombremas5">  {{usuario}}  </span>
                </div>
                <div class="label">
                    Nombre: <span id="nombremas5">  {{nombre}}  </span>
                </div>

                <div class="label">
                    <br> Email: <span id="tipomas5">.{{email}}</span>
                </div>

                <div class="label">

                    <br> Contacto: <span id="razamas5">{{celular}}</span>
                </div>
                <div class="label">
                    <br> Direccion: <span id="edadmas5">{{Direccion}}</span>
                </div>
                <button class="borrar-perfil">Borrar perfil</button>
            </form>
        </div>
{{/each}}