<div class="row">
{{#each masco2}}

    <div class="col-md-4 mx-auto">
        <div class="containe">
            <div id="Mascota">
                <h1>Mis mascota</h1>
                <div class="label">
                    Nombre: <span id="nombremas">{{nombre}}</span>
                </div>

                <div class="label">
                    <br> Tipo: <span id="tipomas">{{tipo}}</span>
                </div>

                <div class="label">

                    <br> Raza: <span id="razamas">{{raza}}</span>
                </div>
                <div class="label">
                    <br> Edad: <span id="edadmas">{{edad}}</span>
                </div>
                <div class="label">
                    <br> sexo: <span id="sexomas">{{sexo}}</span>
                </div>
            </div>
        </div>
    </div>
{{/each}}
</div>